
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/config/applicationhost.config
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/.suo
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/db.lock
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide-shm
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide-wal
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.deps.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.runtimeconfig.dev.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.runtimeconfig.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.AssemblyInfo.cs
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.AssemblyInfoInputs.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.assets.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csproj.CoreCompileInputs.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csproj.FileListAbsolute.txt
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csprojAssemblyReference.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/project.assets.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.dgspec.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.g.props
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.g.targets
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/appsettings.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/Data/simulator-data.csv
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.dll
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.pdb
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.dll
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.pdb
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/config/applicationhost.config
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/DesignTimeBuild/.dtbcache
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/v16/.suo
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/v16/Server/sqlite3/db.lock
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide-shm
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide-wal
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/config/applicationhost.config
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/DesignTimeBuild/.dtbcache
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/v16/.suo
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/v16/Server/sqlite3/db.lock
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide-shm
src/real-time-data-streaming/fraud-prediction-function/.vs/FraudPredictionFunction/v16/Server/sqlite3/storage.ide-wal
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/DesignTimeBuild/.dtbcache
src/real-time-data-streaming/fraud-prediction-function/FraudPredictionFunction/Properties/PublishProfiles/prediction-function - Web Deploy.pubxml
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/v16/.suo
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/db.lock
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/storage.ide
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/storage.ide-shm
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/storage.ide-wal
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.deps.json
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.runtimeconfig.dev.json
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.runtimeconfig.json
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.AssemblyInfo.cs
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.AssemblyInfoInputs.cache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.assets.cache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csproj.CoreCompileInputs.cache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csproj.FileListAbsolute.txt
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csprojAssemblyReference.cache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/FraudPreditionTrainer.csproj.nuget.cache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/FraudPreditionTrainer.csproj.nuget.dgspec.json
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/FraudPreditionTrainer.csproj.nuget.g.props
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/FraudPreditionTrainer.csproj.nuget.g.targets
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/project.assets.json
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/Data/data.csv
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.dll
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.pdb
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.dll
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.pdb
src/machine-learning/FraudPreditionTrainer/.vs/FraudPreditionTrainer/DesignTimeBuild/.dtbcache
src/machine-learning/FraudPreditionTrainer/FraudPreditionTrainer/bin/Debug/netcoreapp2.1/MLModel.zip
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/v16/.suo
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/v16/Server/sqlite3/db.lock
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/v16/Server/sqlite3/storage.ide-shm
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/v16/Server/sqlite3/storage.ide
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/v16/Server/sqlite3/storage.ide-wal
src/machine-learning/FraudPredictorOnnx/.vs/OnnxDemo/DesignTimeBuild/.dtbcache
src/machine-learning/FraudPredictorOnnx/.vs/OnnxDemo/v16/.suo
src/machine-learning/FraudPredictorOnnx/.vs/OnnxDemo/v16/Server/sqlite3/db.lock
src/machine-learning/FraudPredictorOnnx/.vs/OnnxDemo/v16/Server/sqlite3/storage.ide
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/FraudPredictorOnnx.deps.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/FraudPredictorOnnx.dll
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/FraudPredictorOnnx.pdb
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/FraudPredictorOnnx.runtimeconfig.dev.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/FraudPredictorOnnx.runtimeconfig.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/fraudulent-classifier-jupyter.onnx
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/OnnxDemo.deps.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/OnnxDemo.dll
*.pdb
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/OnnxDemo.runtimeconfig.dev.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/bin/Debug/netcoreapp2.1/OnnxDemo.runtimeconfig.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.AssemblyInfo.cs
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.AssemblyInfoInputs.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.assets.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.csproj.CoreCompileInputs.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.csproj.FileListAbsolute.txt
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.dll
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.csprojAssemblyReference.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.csproj.CoreCompileInputs.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.assets.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.AssemblyInfoInputs.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/OnnxDemo.csproj.nuget.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.csproj.FileListAbsolute.txt
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/FraudPredictorOnnx.csproj.nuget.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.dll
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/OnnxDemo.AssemblyInfo.cs
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/Debug/netcoreapp2.1/FraudPredictorOnnx.csprojAssemblyReference.cache
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/FraudPredictorOnnx.csproj.nuget.dgspec.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/project.assets.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/FraudPredictorOnnx.csproj.nuget.g.props
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/FraudPredictorOnnx.csproj.nuget.g.targets
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/OnnxDemo.csproj.nuget.dgspec.json
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/OnnxDemo.csproj.nuget.g.targets
src/machine-learning/FraudPredictorOnnx/FraudPredictorOnnx/obj/OnnxDemo.csproj.nuget.g.props
src/machine-learning/FraudPredictionTrainer/.vs/FraudPredictionTrainer/v16/.suo
src/machine-learning/FraudPredictionTrainer/.vs/FraudPredictionTrainer/v16/Server/sqlite3/db.lock
src/machine-learning/FraudPredictionTrainer/.vs/FraudPredictionTrainer/v16/Server/sqlite3/storage.ide
src/machine-learning/FraudPredictionTrainer/.vs/FraudPredictionTrainer/v16/Server/sqlite3/storage.ide-shm
src/machine-learning/FraudPredictionTrainer/.vs/FraudPredictionTrainer/v16/Server/sqlite3/storage.ide-wal
src/machine-learning/FraudPredictionTrainer/.vs/FraudPreditionTrainer/DesignTimeBuild/.dtbcache
src/machine-learning/FraudPredictionTrainer/.vs/FraudPreditionTrainer/v16/.suo
src/machine-learning/FraudPredictionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/db.lock
src/machine-learning/FraudPredictionTrainer/.vs/FraudPreditionTrainer/v16/Server/sqlite3/storage.ide
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPredictionTrainer.deps.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPredictionTrainer.dll
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPredictionTrainer.runtimeconfig.dev.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPredictionTrainer.runtimeconfig.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.deps.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.dll
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.runtimeconfig.dev.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/FraudPreditionTrainer.runtimeconfig.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/MLModel.zip
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/Data/.gitattributes
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/bin/Debug/netcoreapp2.1/Data/data.csv
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.AssemblyInfo.cs
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.AssemblyInfoInputs.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.assets.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.csproj.CoreCompileInputs.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.csproj.FileListAbsolute.txt
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.csprojAssemblyReference.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPredictionTrainer.dll
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.AssemblyInfo.cs
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.AssemblyInfoInputs.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.assets.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csproj.CoreCompileInputs.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csproj.FileListAbsolute.txt
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.csprojAssemblyReference.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/Debug/netcoreapp2.1/FraudPreditionTrainer.dll
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPredictionTrainer.csproj.nuget.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPredictionTrainer.csproj.nuget.dgspec.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPredictionTrainer.csproj.nuget.g.props
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPredictionTrainer.csproj.nuget.g.targets
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPreditionTrainer.csproj.nuget.cache
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPreditionTrainer.csproj.nuget.dgspec.json
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPreditionTrainer.csproj.nuget.g.props
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/FraudPreditionTrainer.csproj.nuget.g.targets
src/machine-learning/FraudPredictionTrainer/FraudPredictionTrainer/obj/project.assets.json
src/machine-learning/FraudPredictorOnnx/.vs/FraudPredictorOnnx/DesignTimeBuild/.dtbcache
