
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/config/applicationhost.config
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/.suo
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/db.lock
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide-shm
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/.vs/TransactionSimulator/v16/Server/sqlite3/storage.ide-wal
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.deps.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.runtimeconfig.dev.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/bin/Debug/netcoreapp2.1/TransactionSimulator.runtimeconfig.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.AssemblyInfo.cs
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.AssemblyInfoInputs.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.assets.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csproj.CoreCompileInputs.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csproj.FileListAbsolute.txt
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/Debug/netcoreapp2.1/TransactionSimulator.csprojAssemblyReference.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/project.assets.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.cache
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.dgspec.json
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.g.props
src/real-time-data-streaming/transaction-simulator/TransactionSimulator/TransactionSimulator/obj/TransactionSimulator.csproj.nuget.g.targets
